In [1]:
import datetime as dt

In [2]:
date = dt.datetime(year=2018, month=11, day=24, hour=10, minute=21)
date

datetime.datetime(2018, 11, 24, 10, 21)

In [3]:
print(date)

2018-11-24 10:21:00

In [11]:
import pandas as pd
ts = pd.Timestamp("20-11-24")
ts

Timestamp('2024-11-20 00:00:00')

In [12]:
ts.month

11

In [13]:
ts.day

20

In [14]:
ts + pd.Timedelta("10 days")

Timestamp('2024-11-30 00:00:00')

In [21]:
s_1 = pd.Series(["2018-11-24","2018-11-25","2018-11-26"])
s_1

0    2018-11-24
1    2018-11-25
2    2018-11-26
dtype: object

In [16]:
date_1 = pd.to_datetime(s_1)
date_1

0   2018-11-24
1   2018-11-25
2   2018-11-26
dtype: datetime64[ns]

In [17]:
date_1.dt.weekday

0    5
1    6
2    0
dtype: int64

In [18]:
date_1.dt.hour

0    0
1    0
2    0
dtype: int64

In [19]:
pd.Series(pd.date_range(start="2018-07-24", periods=8, freq="12H"))

0   2018-07-24 00:00:00
1   2018-07-24 12:00:00
2   2018-07-25 00:00:00
3   2018-07-25 12:00:00
4   2018-07-26 00:00:00
5   2018-07-26 12:00:00
6   2018-07-27 00:00:00
7   2018-07-27 12:00:00
dtype: datetime64[ns]